/* Dark mode colors. */
:root {
    --sl-color-accent-low: #36172f;
    --sl-color-accent: #a82f8f;
    --sl-color-accent-high: #e4bad7;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #e7eff2;
    --sl-color-gray-2: #c2ccd0;
    --sl-color-gray-3: #92a6ad;
    --sl-color-gray-4: #495c62;
    --sl-color-gray-5: #2a3b41;
    --sl-color-gray-6: #182a2f;
    --sl-color-black: #121a1c;

    --sl-font: "Public Sans";
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #eccce2;
    --sl-color-accent: #8f1179;
    --sl-color-accent-high: #4e1c43;
    --sl-color-white: #121a1c;
    --sl-color-gray-1: #182a2f;
    --sl-color-gray-2: #2a3b41;
    --sl-color-gray-3: #495c62;
    --sl-color-gray-4: #7b8f96;
    --sl-color-gray-5: #bac4c8;
    --sl-color-gray-6: #e7eff2;
    --sl-color-gray-7: #f3f7f9;
    --sl-color-black: #ffffff;
}