# This workflow will auto-pick reviewers to assign to a PR when a 'request-review' label is applied

name: Pickaroo Reviewers

on:
  pull_request:
    types: ["labeled"]

jobs:
  request-review:
    if: contains(github.event.pull_request.labels.*.name, 'pr-review')
    uses: newjersey/innovation-shared-actions/.github/workflows/pickaroo.yml@main
    with:
      include_teams: "innovation-engineering"
      number_of_reviewers: 2
      channel_id: C03C7NHK9B4 # engineering-all
